{{#if (not-eq @title "")}}
  <h2 class="h3">{{@title}}</h2>
{{/if}}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>1v1 League</th>
        <th>Team League</th>
        <th>Season Games</th>
        <th>Career Games</th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredProfiles as |p|}}
        <tr>
          <td>{{p.Region}}-{{p.Summary.Realm}}-{{p.ProfileID}}</td>
          <td>{{p.Name}}</td>
          <td>
            {{sc2-icon p.Career.Current1v1LeagueName}}
          </td>
          <td>
            {{sc2-icon p.Career.CurrentBestTeamLeagueName}}
          </td>
          <td>
            {{p.SeasonRankedGames}} Ranked / {{p.SeasonGames}} Total
          </td>
          <td>
            {{p.CareerGames}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
