{{#if (not-eq @title "")}}
  <h2 class="h3">{{@title}}</h2>
{{/if}}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th title="ClanTag and Profile Name">Name</th>
        <th title="Solo 1v1 Rating this Season">Solo</th>
        <th title="Best Team Rating this Season">Best Team</th>
        <th title="Games Played this Season">Season</th>
        <th title="Games Played over Career">Career Games</th>
      </tr>
    </thead>
    {{#each filteredProfiles as |p|}}
      <tbody>
        <tr>
          <td class="mock-title" title={{p.fullId}}>
            {{#link-to "profiles.view" p}}{{p.name}}{{/link-to}}
          </td>
          <td title="NOT YET IMPLEMENTED">
            {{#if (not-eq p.career.Current1v1LeagueName "")}}
              {{sc2-icon p.career.Current1v1LeagueName}}
              {{p.soloMMR}}
            {{else}}
              <span class="text-secondary" title="Player has not placed this season">0</span>
            {{/if}}
          </td>
          <td title="NOT YET IMPLEMENTED">
            {{#if (not-eq p.career.CurrentBestTeamLeagueName "")}}
              {{sc2-icon p.career.CurrentBestTeamLeagueName}}
            {{else}}
              <span class="text-secondary" title="Player has not placed this season">0</span>
            {{/if}}
          </td>
          <td>{{p.seasonRankedGames}} Ranked / {{p.seasonGames}} Total</td>
          <td>{{p.careerGames}}</td>
        </tr>
      </tbody>
    {{else}}
      <tfoot>
        <tr>
          <td colspan="5">
            <strong>No Profiles matched your search term</strong>
            <pre>{{Search.searchKeyword}}</pre>
          </td>
        </tr>
      </tfoot>
    {{/each}}
  </table>

  {{yield}}
</div>
