<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      {{this.model.id}}
    </h1>
    <div class="h5"></div>
  </div>

  <p>
    Average MMR:
    {{this.model.averageMMR}}
  </p>
  
  <p>
    Members:
    {{this.model.teamCount}}
  </p>

  <footer class="text-center text-secondary">
    Last Fetched:
    {{relative-time this.model.timestamp}}
  </footer>

  {{outlet}}
</main>
