<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{model.Name}}</h1>
    <div class="h5">{{model.FullID}}</div>
  </div>

  <p>
    {{model.Career}}
    {{model.Snapshot}}
    {{model.Summary}}
  </p>

  <footer class="text-center text-secondary">
    Last Fetched: {{relative-time model.Timestamp}}
  </footer>

  {{outlet}}
</main>
