<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{model.Name}}</h1>
    <div class="h5">{{model.FullID}}</div>
  </div>

  <p>
    {{model.Career}}
    {{model.Snapshot}}
    {{model.Summary}}
  </p>

  <LaddersDetailedList
    @model={{model.Ladders.Showcase}}
    @sortProperty="leagueName"
    @title="Showcase" />

  {{#if model.Ladders.Placement}}
    <h2 class="h3">Placement</h2>
    {{model.Ladders.Placement}}
    <br><br>
  {{/if}}

  <LaddersDetailedList
    @model={{model.ResolvedMemberships}}
    @sortProperty="leagueName"
    @title="All Ladders" />

  <footer class="text-center text-secondary">
    Last Fetched: {{relative-time model.FetchTimestamp}}
  </footer>

  {{outlet}}
</main>
