<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{model.name}}</h1>
    <div class="h5">{{model.fullId}}</div>
  </div>

  <p>
    {{model.career}}
    {{model.snapshot}}
    {{model.summary}}
  </p>

  <LaddersShowcaseList
    @model={{model.ladderSummary.showcase}}
    @sortProperty="leagueName"
    @title="Showcase" />

  {{#if model.ladderSummary.placement}}
    <h2 class="h3">Placement</h2>
    {{model.ladderSummary.placement}}
    <br><br>
  {{/if}}

  <LaddersDetailsList
    @model={{model.ladderSummary.ladders}}
    @sortProperty="leagueName"
    @profile={{model.id}}
    @title="All Ladders" />

  <footer class="text-center text-secondary">
    Last Fetched: {{relative-time model.timestamp}}
  </footer>

  {{outlet}}
</main>
